.layout_container {

    height: 100vh;

}


.layout_container{
    
}

.navbar_parent_container{
    display: flex;
    justify-content: center;
}

.whatsapp_icon_container{
    
        background-color: #25D366;
        width: fit-content;
        z-index: 10;
        position: fixed;
        right: 1.25rem;
        bottom: 1.5rem;
        padding: 16px;
        display: flex;
        align-items: center; 
        border-radius: 50%;
        cursor: pointer;
      
}


@media(max-width:680px){
    .whatsapp_icon_container{
        right: 1.25rem;
        bottom: 5rem;
    }
}




