.container {
  background-color: var(--light-theme);
  width: 100%;
}
.innerContainer {
  max-width: 1375px;
  margin: auto;
  padding: 120px 0 0;
  width: 95%;
}
.heddingText {
  text-align: left;
  color: var(--primary-color);
  font-size: 20px;
  font-family: "Eurostile Regular", Sans-serif;
}
.hedding {
  font-family: "Barlow", Sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  text-align: left;
  font-size: 36px;
  color: var(--white);
}
.text {
  text-align: left;
  color: var(--light-text);
  font-size: 18px;
}
.cardContainer {
  display: flex;
  gap: 20px;
  
  justify-content: center;
}
.imgContainer {
  width: 50%;
  min-width: 400px;
}
.box {
  width: 50%;
}

.card {
  min-width: 300px;
  flex: 1 1;
  background-color: var(--light-theme-one);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 3%;
  gap: 15px;
}
.cardImage {
  background-color: var(--light-theme);
  aspect-ratio: 1;
  width: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardText {
  color: var(--primary-color);
  font-family: "Barlow", Sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.why {
  display: flex;
  /* gap: 50px; */
  min-width: 300px;
  flex-wrap: wrap;
  flex: 1;
}
